@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #1488CC;  
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
  background: linear-gradient(to right, #2B32B2, #1488CC);
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 6.5rem;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.5);
}

.title-header {
  color: #fff;
  font-size: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

h2 {
  text-align: center;
  font-weight: 600;
}

form {
  background-color: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form{
  width: 100%;
  margin: auto;
}

form .grupo {
  position: relative;
  margin: 30px;
}

input {
  background: #e6e6e6;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
  color: rgba(29, 29, 29, 0.8);
}


label {
  color: rgb(93, 93, 93);
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 18px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label, input:valid~label {
  top: -18px;
  font-size: 12px;
  color: #2196f3;
}

.labelT {
  top: -12px;
  background-color: #7e7e7e;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  border: 2px solid #616161;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  left: 0px;
}

input[type="radio"]:checked + label.labelH{
  background-color: #2196f3;
  border: 2px solid #0d60a3;
}

input[type="radio"]:checked + label.labelM{
  background-color: #c4147e;
  border: 2px solid #841055;
}

 input:focus~label.labelH, input:valid~label.labelH {
  top: -12px;
  color: #fff;
}

input:focus~label.labelM, input:valid~label.labelM {
  top: -12px;
  color: #ffff;
} 

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #2B32B2, #1488CC);
  transition: 0.3s ease width;
}

input:focus~.barra::before {
  width: 100%;
}

button {
  font-family: 'Poppins',sans-serif;
  background: #1488CC;  
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
  background: linear-gradient(to right, #2B32B2, #1488CC);
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.5);
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sub-title {
  font-size: 15px;
  font-weight: 500;
}

.grupo-icons {
  margin: 5px 20px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  margin: 5px;
}

.bi-instagram:hover {
  color:  #8914cc; 
}

.bi-github:hover {
  color:  #222354; 
}

.box-warning{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.warnings {
  width: 240px;
  text-align: center;
  margin: auto;
  color: #D80000 ;
  padding-top: 20px;
}

@media  (max-width: 398px) {
  main {
    padding: 40px 0px;
  }

  form{
    width: 100%;
  }
}

/* submitted */

.submit-div {
  background-color: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.submit-box {
  width: 100%;
  margin: auto;
}

.content-submitted {
  position: relative;
  margin: 30px;
}

.content-submitted i {
  color: #000;
}

.content-submitted .bi-hand-thumbs-up-fill {
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #619c13;
}


.content-submitted .button-back {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 10px;
  gap: 5px;
}

.content-submitted .bi-arrow-left-circle-fill {
  font-size: 25px;
  color: #1488CC;
}

.content-submitted .bi-arrow-left-circle-fill:hover {
  color: #1c2070;
}

.content-submitted .button-back p {
  font-weight: 600;
  font-size: 17px;
}