@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background: #1488CC;  
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
  background: linear-gradient(to right, #2B32B2, #1488CC);
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: 700;
}

form {
  background-color: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form{
  width: 100%;
  margin: auto;
}

form .grupo {
  position: relative;
  margin: 30px;
}

input {
  background: #e6e6e6;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
  color: rgba(29, 29, 29, 0.8);
}


label {
  color: rgb(93, 93, 93);
  font-size: 16px;
  position: absolute;
  top: 12px;
  left: 18px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label, input:valid~label {
  top: -18px;
  font-size: 12px;
  color: #2196f3;
}

.labelT {
  top: -12px;
  background-color: #7e7e7e;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  border: 2px solid #616161;
  font-size: 12px;
}

input[type="radio"]:checked + label.labelH {
  left: 150px;
  background-color: #2196f3;
  border: 2px solid #0d60a3;
}

input[type="radio"]:checked + label.labelM {
  left: 150px;
  background-color: #c4147e;
  border: 2px solid #841055;
}

 input:focus~label.labelH, input:valid~label.labelH {
  top: -12px;
  color: #fff;
}

input:focus~label.labelM, input:valid~label.labelM {
  top: -12px;
  color: #ffff;
} 

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #2B32B2, #1488CC);
  transition: 0.3s ease width;
}

input:focus~.barra::before {
  width: 100%;
}

button {
  font-family: 'poppins',sans-serif;
  background: #1488CC;  
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
  background: linear-gradient(to right, #2B32B2, #1488CC);
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media  (max-width: 500px) {
  form{
    width: 100%;
  }
}

